/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 input,button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
} 
*/
form {
    display: block;
    position: relative;
    width: 50%;
    margin-left : 25%;
}

form:after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

form .form-inner{
    position: relative;
    display: block;
    /* background-color: aliceblue; */
    padding: 30px;
    z-index: 2;
}


form .form-inner .form-group label{
    padding-top: 14px;    
    padding-bottom: 5px;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
}

form .form-inner input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
}  

