/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 input,button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
} 
*/


form {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
    /* background-color: rgb(226, 226, 226);
    border: 5px double #3AE8CD;
    border-radius: 2px; */
}

form:after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

form .form-inner{
    position: relative;
    display: block;
    padding: 30px;
    z-index: 2;
}

form .form-inner.form-group{
    display: flex;
}

form .form-inner .form-group h5{
    padding-top: 14px;    
}

form .form-inner .form-group input {
    width: 100%;
}
form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
    background-color: #3fd3e4;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    margin-left: 74%;
}  

.detalles {
    margin-top: 25px;
    border-top: 5px solid #116982;
    border-radius: 2px;
    background-color: #39b4d621 ;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.detalles .nd{
    margin-top: 10px;
    font-size: 20px;
}

.detalles .td{
    margin-top: 10px;
    font-size: 22px;
}

